.account {
  overflow: hidden;
  background: url("../images/account/pi2_1.jpg") no-repeat;
  background-attachment: fixed;
  background-size: 100%; }

.searchBar {
  text-align: center;
  padding: 10px 0; }
  .searchBar img {
    height: 100%;
    margin-right: 15px;
    vertical-align: middle; }
  .searchBar input {
    width: 140px;
    height: 24px;
    line-height: 24px;
    padding: 8px 5px;
    background: #fff;
    cursor: pointer; }

.searchBar {
  width: 1000px; }

.loginInfo {
  width: 150px;
  color: #fff;
  line-height: 40px;
  padding: 10px 0; }

.menu {
  height: 90px;
  overflow: hidden; }
  .menu ul {
    margin-top: 20px;
    height: 90px;
    overflow: hidden;
    background: #c4d9e9; }
    .menu ul li {
      float: left;
      width: 85px;
      height: 90px;
      overflow: hidden; }
      .menu ul li span {
        display: block;
        margin: 5px auto 0;
        width: 58px;
        height: 58px; }
        .menu ul li span img {
          width: 100%; }
      .menu ul li p {
        width: 100%;
        height: 18px;
        text-align: center;
        padding-top: 3px;
        line-height: 18px; }

.sub_munu {
  width: 1200px;
  margin: 0 auto;
  background: #fff;
  height: 30px;
  line-height: 30px; }
  .sub_munu ul li {
    float: left;
    padding: 0 10px; }

.wrap {
  margin-top: 20px; }

.left_wrap {
  width: 169px;
  overflow: hidden;
  background: #bfd6ec; }
  .left_wrap ul {
    padding: 20px;
    overflow: hidden; }
    .left_wrap ul li {
      width: 100%;
      height: 24px;
      line-height: 24px; }
      .left_wrap ul li a {
        text-decoration: none;
        color: #000; }

.right_wrap {
  width: 1010px;
  background: #fff;
  overflow: hidden; }
  .right_wrap .crumbs {
    color: #0c6eae; }
    .right_wrap .crumbs a {
      color: #727b83;
      padding-right: 10px; }
  .right_wrap .myAccount .title {
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #a00108; }
  .right_wrap .myAccount .thead {
    border-top: 1px solid #bfbfbf;
    border-right: 1px solid #bfbfbf;
    background: #e3edf6;
    overflow: hidden; }
    .right_wrap .myAccount .thead li {
      float: left;
      text-align: center;
      padding: 5px 0;
      line-height: 40px;
      border-bottom: 1px solid #bfbfbf;
      border-left: 1px solid #bfbfbf; }
    .right_wrap .myAccount .thead .list01 {
      width: 50px; }
    .right_wrap .myAccount .thead .list02 {
      width: 200px; }
    .right_wrap .myAccount .thead .list03 {
      width: 200px; }
    .right_wrap .myAccount .thead .list04 {
      width: 200px; }
    .right_wrap .myAccount .thead .list05 {
      width: 100px; }
    .right_wrap .myAccount .thead .list06 {
      width: 213px; }
    .right_wrap .myAccount .thead .special {
      line-height: 18px;
      padding: 7px 0; }
    .right_wrap .myAccount .thead .theadTitle {
      background: #c6daea;
      overflow: hidden; }
      .right_wrap .myAccount .thead .theadTitle li {
        line-height: 26px; }
    .right_wrap .myAccount .thead .total {
      height: 40px;
      line-height: 40px;
      text-align: center;
      width: 100%;
      overflow: hidden; }

.bg {
  width: 970px;
  background: #fff;
  padding: 10px 20px; }

/*# sourceMappingURL=account.css.map */
